@media only screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    nav {
        width: auto;
    }

    .navigation {
        display: flex;
        gap: 1rem;
    }

    .navigation li {
        background: none;
        border: none;
    }

    .cards {
        grid-template-columns: 2fr 1fr;
        align-items: stretch;
    }

    #courses {
        grid-template-columns: repeat(3, 1fr);
    }
}

