* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background: #f8f8f8;
    color: #222;
    line-height: 1.6;
}

header {
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.logo img {
    width: 60px;
    height: 60px;
}

.logo span {
    font-size: 1.3rem;
    font-weight: bold;
}

#menu {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

nav {
    width: 100%;
}

.navigation {
    display: none;
    list-style: none;
}

.navigation.open {
    display: block;
}

.navigation li {
    background: #222;
    border-bottom: 1px solid #555;
}

.navigation a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    transition: .3s;
}

.navigation a:hover,
.navigation a.active {
    background: white;
    color: #002366;
    font-weight: bold;
    border-radius: 4px;
}


main {
    max-width: 1100px;
    margin: auto;
    padding: 2rem;
}

h1 {
    margin-bottom: 1rem;
}

.cards {
    display: grid;
    gap: 2rem;
}

section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    overflow: hidden;
}

section h2 {
    background: #0e0d0d;
    color: white;
    padding: .8rem;
    text-align: center;
}

section p {
    padding: 1rem;
}

.weather-card {
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.weather-card h3 {
    margin: 1rem 0 0.5rem;
}

.weather-card figure {
    display: grid;
    place-items: center;
    gap: 0.75rem;
    margin: 0.5rem 0 0;
}

.weather-card img {
    width: 120px;
    height: 120px;
}

#forecast {
    list-style: none;
    padding: 0;
}

#forecast li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 0;
}

#forecast li:last-child {
    border-bottom: none;
}

.cards img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0 0 8px 8px;
}

.cards section {
    display: flex;
    flex-direction: column;
}

.certificate {
    margin-top: 2rem;
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}


.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: .75rem;
    padding: 1rem;
}

.buttons button {
    padding: .7rem 1.5rem;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.buttons button:hover,
.buttons button.active {
    background: #050a5f;
}

#courses {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.course {
    background: #eee;
    padding: 1rem;
    text-align: center;
    border-radius: 6px;
    transition: .3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

.course:hover {
    transform: scale(1.03);
}

.completed {
    background: black;
    color: white;
    font-weight: bold;
}

#credits {
    text-align: center;
    font-weight: bold;
    padding-bottom: 1rem;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.social img {
    width: 42px;
    transition: .3s;
    color: rgb(200, 248, 5);
}

.social img:hover {
    transform: scale(1.2);